{extend name="base"}
{block name="title"}{$title}{/block}

{block name="main"}
<div class="page-bar">
    <h4 class="title">{$title}</h4>
</div>

<div class="container" id="container">
    <div class="container-wrap">
        <div class="home-panel">
            <div class="info-container clear">
                <div class="vip-info">
                    <div class="info-item">
                        <div class="title-wrap">
                            <h4 class="title">{$title}</h4>
                        </div>
                        <div class="info-wrap layui-form">
                            <div class="info-form">

                                <div class="form-item">
                                    <label class="layui-form-label" for="">属性名称：</label>
                                    <input class="input" name="key_name" value="{$info['key_name']|default=''}" type="text">
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">顶级导航:</label>
                                    <div class="layui-input-inline">
                                        <input type="text" id="tree" lay-filter="tree" class="layui-input" name="category_id" value="{$info['category_id']|default=0}">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">标签</label>
                                    <div class="tags" id="tags">
                                        <input type="text" name="value" id="inputTags" placeholder="回车生成标签" autocomplete="off">

                                    </div>
                                </div>
                                <div class="form-item">
                                    <label class="layui-form-label" for="">排序：</label>
                                    <input class="input" name="sort" value="{$info['sort']|default=''}" type="text">
                                </div>
                                <input type="hidden" value="{$info['key_id']|default=''}" name="key_id">
                                <button class="blue-btn"  lay-submit="" lay-filter="btn">立即提交</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="js"}
<script>
    layui.use(['form','treeSelect','inputTags'],function () {
        var inputTags = layui.inputTags;
        var form = layui.form;
        var id = $("input[name=category_id]").val();
        form.render();
        var treeSelect = layui.treeSelect;
        inputTags.render({
            elem:'#inputTags',
            content: {$value|raw},
            aldaBtn: true,
            done: function(value){
            }
        })

        treeSelect.render({
            elem: '#tree',
            data: "{:url('goods/apiAddCategory')}",
            placeholder: '顶级导航',
            search: true,
            style: {
                folder: {
                    enable: true
                },
                line: {
                    enable: true
                }
            },
            success: function (d) {
                treeSelect.checkNode('tree', id); //默认选中
            }
        });
        form.on('submit(btn)',function (data) {
            let tagsdata=[];
            $('#tags span').each(function(el,item){
                tagsdata.push(item.firstChild.innerText);
            });
            data.field.value = tagsdata;
            var id = data.field.key_id;
            if (id === ''){
                $.ajax({
                    url:"{:url('goods/addKey')}",
                    type:"post",
                    data:data.field,
                    success:function (re) {
                        if (re.code === 9){
                            layer.msg(re.msg,function () {
                                window.location.href = "{:url('goods/goodsKey')}";
                            })
                        }else{
                            layer.msg(re.msg);
                        }
                    }
                })
            }else{
                $.ajax({
                    url:"{:url('goods/editKey')}",
                    type:"post",
                    data:data.field,
                    success:function (re) {
                        if (re.code === 13){
                            layer.msg(re.msg,function () {
                                window.location.href = "{:url('goods/goodsKey')}";
                            })
                        }else{
                            layer.msg(re.msg);
                        }
                    }
                })
            }
        })
    })
</script>
{/block}